.svg-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 18px;
    gap: 10px;
}

.nav-button {
    background-color: #479f76;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.nav-button:hover {
    background-color: #198754;
}

.nav-button.disabled {
    background-color: #d1d1d1;
    cursor: not-allowed;
}

.svg-index {
    font-size: 14px;
    /* font-weight: bold; */
}
