/* General App Styling */

body {
  margin: 0 16px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.inline-container {
  margin-bottom: 8px;
  display: flex;
  align-items: center; /* Vertically aligns items */
}

.horizontal-spacer {
  background-color: #f8f8f8;
  height: 8px;
}

.p-nomargin {
  margin: 0;
}
/* End of General App Styling */

/* Form and Label Styling */
label {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  width: 20px;
  height: 20px;
}
/* End of Form and Label Styling */

/* Header Bar Styling */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  border-bottom: 1px solid #ccc;
}

.header-section {
  margin: 8px;
  display: flex;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
}

.header-button {
  background-color: white;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.header-button:hover {
  background-color: #e0e0e0;
}
/* End of Header Bar Styling */



/* Dropdown Styling */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 1;
  width: 150px;
}

.dropdown-label {
  padding: 12px;
  cursor: pointer;
}

.dropdown-item {
  text-align: left;
  border: 0px solid #ccc;
  border-width: 0 0 1px 0;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.active {
  background-color: #e0e0e0; /* Change the button color when active */
}

.dropdown-actions {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.apply-button,
.reset-button {
  padding: 10px 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.2s ease;
}

.apply-button:hover,
.reset-button:hover {
  background-color: #0056b3;
}

.reset-button {
  background-color: #dc3545;
}

.reset-button:hover {
  background-color: #c82333;
}
/* End of Dropdown Styling */

/* Grid Styling */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-item {
  padding: 12px;
  text-align: left;
  border: 1px solid #ccc;
  overflow-wrap: break-word;
}

.grid-item .rpv-core__viewer {
  width: 100%;
  height: 100%;
}

pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.expand-button {
  display: block;
  background-color: #007bff;
  margin: 0 auto;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.expand-button:hover {
  background-color: #0056b3;
}
/* End of Grid Styling */

/* Tooltip Styling */
.motif-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-icon {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -80px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.info-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
/* End of Tooltip Styling */

/* View toggle buttons */
.view-toggle {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.view-button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.view-button i {
  font-size: 18px;
}

.view-button.active {
  background-color: #007bff;
  color: white;
}

.view-button:hover {
  background-color: gray;
}

/* Grid view - displays items in a grid */
.grid-view .motif-item {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* List view - displays items in a list */
.list-view .motif-item {
  background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Search bar styling */
.search-bar {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
  outline: none;
}

.search-bar:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Adjust right-section */
/* .right-section {
  display: flex;
  align-items: center;
  gap: 15px;
} */

.pagination {
  display: flex;
  align-items: center;
}

.pagination button {
  margin: 0 12px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.pagination button[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

.pagination input[type="number"] {
  margin: 0 2px 0 2px;
  text-align: center;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.pagination span {
  font-size: 16px;
}

.items-per-page {
  display: flex;
  align-items: center; /* Align label and input vertically */
  gap: 10px; /* Optional: Adds space between the label and input */
}


/* SVG Container Styling */
.svg-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  /* Center content vertically */
  max-width: 100%; /* Prevent overflow */
  max-height: 80vh; /* Preven overflow */
  resize:both;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensure the border doesn't cause overflow */
}

.resize-handle {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.resize-handle h6 {
  transform: rotate(-45deg); /* Rotate the text by 45 degrees */
}

.svg-download-button {
  position: absolute;
  top: 2px;
  right: 2px;
  /* background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s; */
}

/* .svg-download-button:hover {
  background-color: #0056b3;
} */

.back-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-button:hover {
  background-color: #c82333;
}


/* Motif List View CSS */

/* Table header styling */
.list-header {
  display: grid;
  grid-template-columns: 80px 300px 150px 80px 150px 140px 140px auto;
  background-color: #ddd;
  padding: 12px;
  font-weight: bold;
  border: 1px solid #ccc;
}

.list-container {
  display: flex;
  flex-direction: column;
}

/* Update the list-item to match the grid structure of the header */
.list-item {
  display: grid;
  grid-template-columns: 80px 300px 150px 80px 150px 140px 140px auto;
  align-items: center;
  padding: 4px 12px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
}

/* Ensure the grid columns match the header and items */
/* .id-column {
  min-width: 100px;
}

.occurrences-column {
  min-width: 150px;
}

.families-column {
  min-width: 150px;
}

.length-column {
  min-width: 100px;
}

.bpairs-column,
.ipairs-column,
.loops-column {
  min-width: 150px;
} */

/* No space between list items */
.list-item + .list-item {
  margin-top: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .list-item {
    grid-template-columns: 1fr;
  }

  .list-header {
    grid-template-columns: 1fr;
  }

  .expand-button {
    margin-left: 0;
    margin-top: 10px;
  }
}
